/* Estilo para os contêineres individuais dos formulários */
.wrapper {
    width: 420px; /* Define a largura da div */
    height: 420px; /* Define a altura da div */
    background: #fff; /* Define a cor de fundo */
    border: 1px solid #A9A9A9; /* Adiciona uma borda cinza ao redor da div */
    backdrop-filter: blur(20px); /* Adiciona um desfoque ao fundo */
    box-shadow: 0 0 10px #A9A9A9; /* Adiciona uma sombra ao redor da div */
    color: #000; /* Define a cor do texto */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    padding: 30px 40px; /* Adiciona preenchimento interno */
}

/* Estilo para o título dentro dos wrappers */
.wrapper h1 {
    font-size: 36px; /* Define o tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para as caixas de entrada */
.wrapper .input-box {
    position: relative; /* Permite o posicionamento absoluto dos ícones dentro */
    width: 100%; /* Define a largura da caixa de entrada */
    height: 50px; /* Define a altura da caixa de entrada */
    margin: 30px 0; /* Espaçamento acima e abaixo da caixa de entrada */
}

/* Estilo para os campos de entrada */
.input-box input {
    width: 100%; /* Define a largura total da entrada */
    height: 100%; /* Define a altura total da entrada */
    background: transparent; /* Define o fundo como transparente */
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove a borda de foco padrão */
    border: 1px solid #A9A9A9; /* Adiciona uma borda cinza ao redor da entrada */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    font-size: 16px; /* Define o tamanho da fonte */
    color: #000; /* Define a cor do texto */
    padding: 20px 40px 20px 20px; /* Adiciona preenchimento interno */
}

/* Estilo para os placeholders nos campos de entrada */
.input-box input::placeholder {
    color: #000; /* Define a cor do texto do placeholder */
}

/* Estilo para os ícones dentro das caixas de entrada */
.input-box i {
    position: absolute; /* Posiciona o ícone absolutamente dentro da caixa */
    right: 20px; /* Alinha o ícone à direita */
    top: 50%; /* Alinha o ícone verticalmente ao meio */
    transform: translateY(-50%); /* Ajusta o ícone verticalmente ao centro */
    font-size: 20px; /* Define o tamanho do ícone */
}

/* Estilo para o botão dentro dos wrappers */
.wrapper .btn {
    width: 100%; /* Define a largura total do botão */
    height: 45px; /* Define a altura do botão */
    background: #1C1C1C; /* Define a cor de fundo do botão */
    border: none; /* Remove a borda padrão do botão */
    outline: none; /* Remove a borda de foco padrão do botão */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* Adiciona uma sombra ao redor do botão */
    cursor: pointer; /* Define o cursor como ponteiro ao passar o mouse */
    font-size: 16px; /* Define o tamanho da fonte */
    color: #fff; /* Define a cor do texto no botão */
    font-weight: 600; /* Define o peso da fonte como negrito */
}

/* Estilo para o botão ao passar o mouse sobre ele */
.btn:hover {
    background-color: #363636; /* Muda a cor de fundo ao passar o mouse */
}